@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&amp;display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

canvas {
  display: block;
}

#container {
  position: relative;
}

#container canvas, #centered {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

canvas {
  border: 1px solid black;
}

.mono {
  font-family: 'Kode Mono', monospace;
  font-optical-sizing: auto;
}

.title {
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  color: white;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: gray;
}

.paragraph {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.nofont {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: darkgreen;
}

a:active {
  color: darkgreen;
}